description = "Default layout"
==
<?php
function onStart()
{
    // $this['staticContentTs'] = Config::get('telekod.staticinlinecontent::staticContentTs');

    $defaultOnStartScript = $_SERVER['DOCUMENT_ROOT'] . DIRECTORY_SEPARATOR 
        . 'themes' . DIRECTORY_SEPARATOR 
        . Config::get("cms.activeTheme",'') . DIRECTORY_SEPARATOR 
        . 'layouts' . DIRECTORY_SEPARATOR 
        . 'defaultOnStart.php';
    require_once $defaultOnStartScript;
}

function onEnd()
{
    $defaultOnEndScript = $_SERVER['DOCUMENT_ROOT'] . DIRECTORY_SEPARATOR 
        . 'themes' . DIRECTORY_SEPARATOR 
        . Config::get("cms.activeTheme",'') . DIRECTORY_SEPARATOR 
        . 'layouts' . DIRECTORY_SEPARATOR 
        . 'defaultOnEnd.php';
    require_once $defaultOnEndScript;
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no"> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ this.page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="{{ url('/') }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        {% if this.page.id != '404' %}
        <meta name="description" content="{{ this.page.meta_description }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
        <link rel="stylesheet" href="{{ cssFiles|theme }}">
        {% styles %}
        <script type="text/javascript" src="{{ ['assets/vendor/jquery.js']|theme }}"></script>
    </head>
    <body>

        <!-- Header -->
        {% partial 'header' %}

        <!-- Content -->
        {% page %}

        <!-- Footer -->
        {% partial 'footer' %}

        <!-- Scripts -->
        <script type="text/javascript" src="{{ jsBodyFiles|theme }}"{% if (ieVersion > 9) or (ieVersion is empty) %} defer{% endif %}></script>
        {# <script type="text/javascript" src="{{ url('/') }}/inline-js-body-{{ staticContentTs }}"{% if (ieVersion > 9) or (ieVersion is empty) %} defer{% endif %}></script> #}

        {% scripts %} 

    </body>
</html>
