==
<header>
    <section class="header-info-wrapper">
        <div class="page-wrapper">
            <ul class="inline-list header-info clearfix">
                <li><a href=""><img src="{{ 'assets/images/icons/smartphone.png'|theme }}">Broj telefona</a></li>
                <li><a href=""><img src="{{ 'assets/images/icons/address.png'|theme }}">Adresa</a></li>
                <li><a class="icon-margin" href=""><img src="{{ 'assets/images/icons/clock.png'|theme }}">Radno vreme</a></li>
                <li><a class="icon-margin" href=""><img src="{{ 'assets/images/icons/acupuncture.png'|theme }}">Akupunktura</a></li>
                <li><a class="icon-margin" href=""><img src="{{ 'assets/images/icons/stethoscope.png'|theme }}">Ordinacija</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="page-wrapper clearfix">
            <div class="logo-wrapper">
                <div class="logo">
                    <a href="{{ 'index'|page }}"><img src="{{ 'assets/images/logo.png'|theme }}" alt="{{ companyName }}"></a>
                </div>
            </div>
            <div class="navigation-wrapper">
                <ul class="inline-list navigation clearfix">
                    <li><a href="">Početna</a></li>
                    <li><a href="">O nama</a></li>
                    <li><a href="">Usluge</a></li>
                    <li><a href="">Akupunktura</a></li>
                    <li><a href="">Galerija</a></li>
                    <li><a href="">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </section>
</header>
