==
<header>
    <div class="page-wrapper">
        <section class="header-info-wrapper">
            <ul class="inline-list header-info">
                <li>Broj telefona</li>
                <li>Adresa</li>
                <li>Radno vreme</li>
                <li>Akupunktura</li>
                <li>Ordinacija</li>
            </ul>
        </section>
        <section>
            <div class="logo-wrapper">
                <div class="logo">

                </div>
            </div>
            <div class="navigation-wrapper">
                <ul class="inline-list navigation">
                    <li>Početna</li>
                    <li>O nama</li>
                    <li>Usluge</li>
                    <li>Akupunktura</li>
                    <li>Galerija</li>
                    <li>Kontakt</li>
                </ul>
            </div>
        </section>
    </div>
</header>
