==
<div class="homepage-slider">
    <div class="owl-wrapper">
        <div class="owl-item"><img src="{{ 'homepage-slider/slide-1.jpg'|media }}" alt=""></div>
        <div class="owl-item"><img src="{{ 'homepage-slider/slide-2.jpg'|media }}" alt=""></div>
        <div class="owl-item"><img src="{{ 'homepage-slider/slide-3.jpg'|media }}" alt=""></div>
        <div class="owl-item"><img src="{{ 'homepage-slider/slide-4.jpg'|media }}" alt=""></div>
        <div class="owl-item"><img src="{{ 'homepage-slider/slide-5.jpg'|media }}" alt=""></div>
    </div>
</div>